<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Members: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>


<div style="background-color: #333333; position: absolute; height: 100%; width: 100%">
  <div style="font-size: 25pt; font-weight: bold; color: #cccccc; padding:40px;">{Bug Manager}</div>

  <div style="background-color: #fffff0; padding: 20px; margin: 20px;  height: 80%;">
    <p class="error"><%= flash[:error] %></p>
    <p class="notice"><%= flash[:notice] %></p>
    <%= yield %>
  </div>

  <div style="background-color: #000000; height: 30px;color: #ffffff; padding: 2px; text-align: right;">
    Powered by <a href="http://github.com/srikanthps/bugsonrails" style="color:white;">BugsOnRails - An Open Source Project</a>
  </div>


</div>


</body>
</html>
